/*GENERAL*/
:root {
  --main-color: #E44444; /* var(--main-color) */
  --second-color: #CD487B; /* var(--second-color) */
  --light-grey-color: #EDEDED; /* var(--light-grey-color) */
  --drak-grey-color: #4B4B4B; /* var(--drak-grey-color) */
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
}

.container {
	min-width: 992px;
	max-width: 1440px;
}

h2, 
h3 {
	font-family: 'Archivo', sans-serif;
	font-style: normal;
}

h2 {
	text-align: center;
}


/*HEADER*/
header {
	position: relative;
	width: 100%;
	height: 880px;
}

header img,
header .headerTextContent {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

header img {
	object-fit: cover;
}

header .headerTextContent {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 62px;
	line-height: 75px;
	color: white;
}



/*CONTENT*/
section {
	padding-bottom: 80px;
	padding-top: 80px;
}

h2
{
	font-weight: 900;
	font-size: 35px;
	line-height: 38px;
	color: var(--main-color);
	padding-bottom: 40px;
	margin-top: 0;
}

h3 {
	font-weight: 800;
	font-size: 25px;
	line-height: 27px;
	color: black;
	margin-bottom: 0;
}

article {
	width: 15%;
	margin: 0px 20px;
	display: flex;
	flex-direction: column;
}

p {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 17px;
	color: var(--drak-grey-color);
}


/***************/
.directionRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.directionColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sectionLinearGradientBackground {
	background: linear-gradient(to right, var(--main-color), var(--second-color));
}

.whiteContentSection h2,
.whiteContentSection h3,
.whiteContentSection p {
	color: white;
}

.textCenter {
	text-align: center;
}

/***************/
.sectionLightGreyBackground {
	background-color: var(--light-grey-color);
}

.button {
	margin: 20px 0px;
	padding: 28px 40px;

	background-color: white;

	border-style: solid;
	border-width: 2px;
	border-radius: 5px;

	box-sizing: border-box;

	font-family: 'Archivo';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 17px;

	display: flex;
	align-items: center;
	justify-content: center;

	text-decoration: none;
}

.buttonDrakGreyColor {
	color: var(--drak-grey-color);
	border-color: var(--drak-grey-color);
}

.buttonMainColor {
	color: var(--main-color);
	border-color: var(--main-color);
}

.buttonSecondColor {
	color: var(--second-color);
	border-color: var(--second-color);
}

.buttonRounded {
	border-radius: 39px;
}

.buttonHighlight:hover {
	font-weight: 800;
	border-width: 3px;
}